@font-face { font-family: lato-regular; 
	src: url('/Lato/Lato-Regular.ttf'); } 

body::before {
	content: "";
    display: block;
    width: 100vw;
    height: 0.5rem;
    background-image: radial-gradient(#82fff9 44%, transparent 40%);
    background-size: 3px 3px;
	border-bottom: 9px solid #194044;
}

body {
    margin: 0;
    overflow-x: hidden;
    word-break: break-word;
    overflow-wrap: break-word;
    background: var(--nc-bg-1);
    color: var(--nc-tx-2);
    font-size: 1.03rem;
	line-height: 1.5;
	font-family: lato-regular;
}

header {
	width: 100vw;
	padding: 2rem 0;
}

.header-container {
	max-width: var(--desktop-max-width, 80%);
    width: 100%;
	margin: 0 auto;
}

h1 {
	color: #e0d7b3;
}

main {
    max-width: var(--desktop-max-width, 80%);
    width: 100%;
	margin: 0 auto;
	min-height: 70vh;
}

main h2, main h1 {
	color: #ce875d;
}

footer {
    width: 100vw;
	background:#1c2e2f;
	padding: 1rem 0;
	max-height: 8rem;
	position: relative;
	bottom: 0;
}
.footer-content {
	max-width: var(--desktop-max-width, 80%);
    width: 100%;
	margin: 0 auto;
	color: #ccc;
}